<style>
  .apanyo{
      min-height: 100vh;
  }
  body {
      background-image: url('assets/img/tile_background.png');
  }
  .raton:hover{
      cursor: pointer;
  }
  .fondo {
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.4);
  }

  .foto:hover {
      transform: scale(103%);
  }


  #menu ul {
      list-style: none;
      padding: 0;
  }

  #menu li {
      padding: 15px;
      border-bottom: 1px solid #ccc;
  }

  #menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: crimson;
      z-index: 2;
      overflow-y: auto;
      flex-direction: column;
      animation: slideUp 0.5s ease-in-out;
  }

  #menu.closed {
      animation: slideDown 0.5s ease-in-out;

  }

  .closed {
      display: none;
  }

  #closeMenu {
      display: block;
      margin-top: auto;
      background-color: #8DE1DE;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
  }

  @keyframes slideUp {
      from {
          transform: translateY(-100%);
      }

      to {
          transform: translateY(0);
      }
  }

  @keyframes slideDown {
      from {
          transform: translateY(0);
      }

      to {
          transform: translateY(-100%);
      }
  }

  .portada{
      height: 30rem;
      background-size: cover;
      background-position: center;
  }
  .portado{
      height: 8rem; background-size: cover; background-position: center;
  }

  .nota{
      position: relative;
      padding-left: 1rem;
  }

  .genderer{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .titulin{
      width: 100%;
  }
  @media (min-width: 992px) {
      .portada {
          height: 30rem;
          width: 20rem;
      }
      .portado {
          height: 15rem;
          width: 10rem;
      }
      .genderer{
          height: 2rem;
          align-self: center;
      }
      .nota{
          position: absolute;
          padding-left: 0;
      }
      .list {
          width: 50rem;
          border: 2px solid black;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .titulin{
          width: 50%;
          border-right: 2px solid black;
      }
  }
</style>
<body>
  
  <div class="fondo">
  <div class="sticky-top" id="barradenav">
    <nav class="navbar w-100 d-flex justify-content-between px-3 align-items-center"
         style="background: linear-gradient(to bottom, #FFD301 50%, #FF4867 50%);">
         <div class="d-flex align-items-center">
           <a routerLink="/catalogo" class="text-decoration-none" style="color: black;">
            <div class="rounded justify-content-center d-flex fs-1 fw-bold">WebDeSeries</div>
          </a>
        <input type="text" placeholder="Buscar nombre de serie"
        style="width: 30rem; border-radius:2rem; padding-left: 1rem; margin-left: 2rem;"
               class="d-none d-lg-block">
      </div>
      <div class="d-flex align-items-center" style="height: 100%; margin-right: 3rem;">
        <img src="assets/img/menu.png" alt="" class="d-block d-lg-none" style="width: 2.8rem;" id="menuburger">
        <img src="assets/img/biblio.png" alt="" class="d-none d-lg-block raton"
             style="width: 2.8rem; margin-right: 4.5rem;">
    </div>
      <div class="d-none d-lg-block raton"
           style="height: 100%; aspect-ratio: 1; background-image: url('assets/img/perfil.jpg');
                  background-size: cover; background-position: center; position: absolute; right: 0;">
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
<footer class="bg-dark text-light px-4 pt-4 mt-3 pb-4"
style="background-image: url('assets/img/footer.png'); background-size: 100%;">
  <div class="d-flex fw-bold">
    <p>Terms of use</p>
    <p class="ml-3">Privacy Politics</p>
  </div>
  <p class="fw-light">© 2023 WebDeSeries</p>
</footer>
<div id="overlay"></div>
<div id="menu" class="closed" style="flex-direction: column;">
  <div class="w-100 d-flex align-items-center justify-content-center"
  style="height: 15rem; background: linear-gradient(to bottom, #262626 50%, #FFD301 50%);
              border-bottom: 4px solid black;">
    <a routerLink="/profile"><div class=""
                               style="width: 10rem; height: 10rem; border-radius: 3rem;
                                      background-image: url('assets/img/perfil.jpg');
                                      background-size: cover; background-position: center;">
    </div></a>
  </div>
  <div class="w-100 d-flex align-items-center justify-content-center"
       style="height: 10rem; background-color: #FF4867; border-bottom: 2px solid black;">
    <a routerLink="/catalogo" class="text-decoration-none" style="color: black;">
      <div class="d-flex align-items-center" style="flex-direction: column;">
        <img src="assets/img/catalogo.png" alt="" style="height: 5rem; width: 5rem;">
        <h4>Catalogo</h4>
      </div>
    </a>
  </div>
  <a routerLink="/bibliotecas" class="text-decoration-none" style="color: black;">
    <div class="w-100 d-flex align-items-center justify-content-center"
         style="height: 10rem; background-color: #FF4867; border-bottom: 2px solid black;">
         <div class="d-flex align-items-center" style="flex-direction: column;">
        <img src="assets/img/biblio.png" alt="" style="height: 5rem; width: 5rem;">
        <h4>Biblioteca</h4>
      </div>
    </div>
  </a>
  <button id="closeMenu" class="w-100 mx-0"><img src="assets/img/Polygon.png" alt=""></button>
</div>

<script>
  console.log('muerte a los inocentes.');
  document.addEventListener('DOMContentLoaded', function () {
    const toggleButton = document.getElementById('menuburger');
    const closeButton = document.getElementById('closeMenu');
    const overlay = document.getElementById('overlay');
    const menu = document.getElementById('menu');
    const navbar = document.getElementById('barradenav');

    toggleButton.addEventListener('click', function () {
      overlay.style.display = 'block';
      menu.style.display = 'flex';
      menu.classList.remove('closed');
      document.body.style.overflow = 'hidden';
      navbar.style.display = 'none';
    });

    closeButton.addEventListener('click', function () {
      overlay.style.display = 'none';
      menu.classList.add('closed');
      document.body.style.overflow = 'auto';

      setTimeout(function () {
        menu.style.display = 'none';
      }, 400);

      navbar.style.display = 'flex';
    });
  });
</script>

  </body>